<html>

<head>
    <title>
        Test
    </title>
</head>
<body>

  
    <form method="GET" action="/home/them">
        <p>isbn</p><br>
        <input type="text" name="isbn" /><br>
        <!---->
        <p>TenBaiBao</p>
        <input type="text" name="ten" /><br>

        <p>TenNhomTacGia</p>
        <input type="text" name="tennhom" /><br>

        <p>SoTrang</p>
        <input type="text" name="sotrang" /><br>

        <p>NamXuatBan</p>
        <input type="text" name="namxuatban" /><br>
        
        <input type="submit" value="Them bao moi"  />

    </form>


</body>


</html>
